<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="A8Connect" connectionString="Data Source=127.0.0.1;Initial Catalog=A8;Persist Security Info=True;User ID=sa;Password=Ll@20190505;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--请勿修改key值，value值可根据实际情况修改-->
  <appSettings>
    <add key="socketSeverIP" value="127.0.0.1"/>
    <add key="socketSeverPort" value="8090"/>
    <add key="OneHourProductionTarget" value="2"/>
    <add key="YearMonthTarget" value="20"/>
    <add key="YearMonthFPYTarget" value="0.95"/>
  </appSettings>
</configuration>
